@using MoreGrid_MVC.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>魔格</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("魔格", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <!-- /.navbar-header -->

            @{
                if (UserHelper.GetUserData() == null)
                {
                    <div class="navbar-collapse collapse navbar-right" style="margin-right:0px;">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("登入", "Login", "Auth")</li>
                            <li>@Html.ActionLink("註冊", "Register", "Account")</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="navbar-collapse collapse navbar-right" style="margin-right:0px;">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("管理後台", "Index", "Manage")</li>
                        </ul>
                    </div>
                }
            }

            <!-- 若為管理畫面，需顯示側邊攔 -->
            @RenderSection("featured", required: false)
        </nav>
        <div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MoreGrid (本網站僅為程式練習用途)</p>
            </footer>

        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
